* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px 35px;
  background-color: #254558;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-position: 80%;

}
body {
  color: #254558;
  font-family: Helvetica, Arial, sans-serif;
  background: #e5e5e5;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;

}

header a {
  color: #e5e5e5;
  font-size: 40px;
}
header nav {
  margin: 7px 0;
  float: right;
  flex-wrap: wrap;
}
header nav ul li {
  display: inline;
  
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.95vw;;
}
footer {
  background: #254558;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: #e5e5e5;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
  color:#e5e5e5
}
section {
  padding: 30px;
}
h2 {
  text-align: center;
  font-size: 30px;
  padding: 0 50px 0 0;
}

.hero {
  background-image: url(images/computer.png);
  height: 300px;
  background-size: 50% auto;
  background-position: center;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
 
}
.intro {
  display: flex;
  

}
.intro p {
  padding: 100px 100px ;
  font-size: 25px;
  text-align: center;

}
.intro img {
  width: 25%;
  border: 5px dotted #254558;
  padding: 10px;
  align-items: center;

}

.work-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.work-container div {
  border: 5px dotted #254558;
  padding: 10px;
  margin: 20px;
}
.work-container h3 {
  text-align: center;
}
.work-container img {
  width: 100%;
}
.app-1 {
  flex: 3;
  
}
.app-2 {
  flex: 1;
}
.app-3 {
  flex: 1;
}
.app-4 {
  flex: 1;
}
.contact-me-container h2{
  float: left
  
  
}
.contact-me-container div ul li {
  display: inline;
  padding: 50px;
  font-size: 25px;

}

@media all and (max-width: 980px) {

  .hero {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }  
  footer {
    width: 100%;
  }
}


@media all and (max-width: 768px)  {
   
  .hero {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }  
}


@media all and (max-width: 575px) {
  
  .hero {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  } 
  }
